@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'MR';
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    background: white;
}

.pre__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pre__nav-ru {
    display: grid;
    align-items: center;
}

.pre__nav-icon {
    display: grid;
    align-items: center;
}

.pre__nav-text {
    color: #323232;
    font-family: 'MB';
}

.header-nav {
    padding: 20px 0;
}


.header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* grid-auto-rows: minmax(200px, max-content); */
}

.header-content__item {
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #E1E1E1;
    z-index: -1;    
}

.header-content__item:nth-of-type(3n + 1) {
    min-height: 800px;
    height: 100%; 
    grid-column: span 2;
    grid-row: span 2;
}



.header-content__item-img {
    z-index: -2;
    height: 100%;
    object-fit: cover;
}

